<?xml version="1.0"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:sl="http://www.signagelive.com/widgets" id="widget-sdk-rd-0.0.0" version="0.0.0" width="1920" height="1080">
    <name>Signagelive Widget SDK - removeData</name>
    <description>A simple widget example for the removeData(key, value) widget method</description>
    <author>Signagelive</author>
    <content src="index.html"/>
    <icon src="images/thumb.png" sl:thumbnail="large"/>
    <preference name="Key" value="widgetSDKExample" sl:type="string"/>
    <preference name="Shared" value="true" sl:type="list" sl:set="true|false" />
</widget>